:host {
  margin: 10px;
}

#form {
  padding: 50px 20px;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 50px 0;
}

.info {
  // background-image: url(../../../assets/6971536_preview.png);
  img {
    width: 250px;
  }
}
