<div class="hero">
  <div class="info"><img src="assets/ides.png" /></div>
  <div id="form" class="ui segment">
    <h1 class="ui header">Login in</h1>
    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="email" name="first-name" placeholder="Email" />
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="last-name" placeholder="Password" />
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" />
          <label>Keep me logged in.</label>
        </div>
      </div>
      <button class="ui teal button" type="submit">Submit</button>
    </form>
  </div>
</div>
