.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../../assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff;
  // background: red;
}
#search {
  h2.ui.header {
    margin-bottom: 20px;
  }
  margin-top: 150px;
  margin-bottom: 300px;
}
