<h1 class="ui header">Sign up here...</h1>
<div id="hero" class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Personal Information</h4>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input
            type="text"
            name="shipping[first-name]"
            placeholder="First Name"
          />
        </div>
        <div class="field">
          <input
            type="text"
            name="shipping[last-name]"
            placeholder="Last Name"
          />
        </div>
      </div>
    </div>

    <div class="field">
      <label>Contacts</label>
      <div class="two fields">
        <div class="field">
          <input
            type="text"
            name="shipping[first-name]"
            placeholder="Email Address"
          />
        </div>
        <div class="field">
          <input
            type="text"
            name="shipping[last-name]"
            placeholder="Phone Number"
          />
        </div>
      </div>
    </div>

    <div class="field">
      <label>Address</label>
      <div class="three fields">
        <div class="field">
          <input
            type="text"
            name="shipping[first-name]"
            placeholder="Location"
          />
        </div>
        <div class="field">
          <input type="text" name="shipping[last-name]" placeholder="City" />
        </div>
        <div class="field">
          <input type="text" name="shipping[last-name]" placeholder="Country" />
        </div>
      </div>
    </div>

    <div class="field">
      <label>Password & Confirmation</label>
      <div class="two fields">
        <div class="field">
          <input
            type="password"
            name="shipping[first-name]"
            placeholder="Password"
          />
        </div>
        <div class="field">
          <input
            type="password"
            name="shipping[last-name]"
            placeholder="Confirm Password"
          />
        </div>
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden" />
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui teal button" type="submit">Create Account</button>
  </form>
</div>
