<h1 class="ui header">Our Services</h1>

<div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/search.jpg" />
      </div>
      <div class="content">
        <a class="header" routerLink="name-search">Name Search</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/registration.jpg" />
      </div>
      <div class="content">
        <a class="header" routerLink="registration">Company Registration</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/reserve.jpg" />
      </div>
      <div class="content">
        <a class="header" routerLink="name-reservation">Name Reservation</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/audit.jpg" />
      </div>
      <div class="content">
        <a class="header" routerLink="auditing">Auditing</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/Tax-Services.jpg" />
      </div>
      <div class="content">
        <a class="header">Tax Filing</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/patent.jpg" />
      </div>
      <div class="content">
        <a class="header">Patents Registration</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/copyright.jpg" />
      </div>
      <div class="content">
        <a class="header">Copyright Registration</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="assets/trademark.jpg" />
      </div>
      <div class="content">
        <a class="header">Trademark Registration</a>
      </div>
    </div>
  </div>
</div>
