<div class="ui vertical menu">
  <div class="item">
    <div class="header">Company Registration</div>
    <div class="menu">
      <a class="item" routerLink="services/registration">Regular - 2 Weeks</a>
      <a class="item" routerLink="services/registration">Express - 5 Days</a>
      <a class="item" routerLink="services/name-search">Name Search</a>
      <a class="item" routerLink="services/name-reservation"
        >Name Reservations</a
      >
    </div>
  </div>
  <div class="item">
    <div class="header">Intellectual Property</div>
    <div class="menu">
      <a class="item">Patents</a>
      <a class="item">Copyrights</a>
      <a class="item">Trademarks</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Taxations</div>
    <div class="menu">
      <a class="item">Tax Filing</a>
      <a class="item" routerLink="services/auditing">Auditing</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Support</div>
    <div class="menu">
      <a class="item">E-mail Support</a>
      <a class="item">FAQs</a>
    </div>
  </div>
</div>
