<h1 class="ui header">
  Business Registration, Company Formation & Incorporation Procedures
</h1>

<div class="hero">
  <app-sidebar></app-sidebar>
  <app-slideshow></app-slideshow>
</div>

<div id="intro" class="row">
  <h2 class="ui header">Making it easy for the business community in Uganda</h2>
  <p>
    Access the most commonly required business-related services in one place and
    to obtain relevant information about the procedures for starting a business
    and investing in Uganda.
  </p>

  <a class="ui teal button" routerLink="auth/register">Create an account</a>
</div>
