<div class="footer container">
  <div class="about">
    <h3 class="ui header">Corporaze</h3>
    <p>
      Corporaze Ltd is an active company incorporated on 15 February 2020 with
      the registered office located in Kampala, Uganda. Corporaze Ltd has been
      running for 7 months.
    </p>
  </div>
  <div class="about">
    <h3 class="ui header">Menu</h3>
    <div class="ui list">
      <div class="item">Home</div>
      <div class="item">About Us</div>
      <div class="item">Our Services</div>
      <div class="item">Create Account</div>
    </div>
  </div>
  <div class="social">
    <h3 class="ui header">Our Social Media</h3>
    <div class="ui list">
      <div class="item">Facebook</div>
      <div class="item">Twitter</div>
      <div class="item">Linkedin</div>
      <div class="item">Instagram</div>
    </div>
  </div>
  <div class="social">
    <h3 class="ui header">Subscribe</h3>
    <p>Get regular updates</p>

    <div class="ui action input">
      <input type="text" placeholder="Email Address..." />
      <button class="ui button">Subscribe</button>
    </div>
  </div>
</div>
